{% extends '::base.html.twig' %}

{% block body %}
    <h1>Products page</h1>
    <p>
        Download links:
    </p>
    <ul>
        <li>
            <a href="{{ path('app_downloadcsv') }}">CSV</a>
        </li>
        <li>
            <a href="{{ path('app_downloadxls') }}">Excel</a>
        </li>
    </ul>
{% endblock %}

